form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  gap: 20px;
  align-items: center;
}

form label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form > input {
  width: 50%;
}
